/*
* @Author: lushijie
* @Date:   2016-11-29 10:41:34
* @Last Modified by:   lushijie
* @Last Modified time: 2017-01-06 15:09:34
*/
@charset 'UTF-8';
.drawbox {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-perspective: 500px;
}

.drawbox-front,
.drawbox-behand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-transition-duration: 0.8s;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
}

.drawbox-front {
  z-index: 1;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
}

.drawbox:hover .drawbox-front {
  z-index: 0;
  -webkit-transform: rotate3d(0, 1, 0, -180deg);
}

.drawbox:hover .drawbox-behand {
  z-index: 1;
  -webkit-transform: rotate3d(0, 1, 0, 0deg);
}
