/*
* @Author: lushijie
* @Date:   2016-11-29 10:41:34
* @Last Modified by:   lushijie
* @Last Modified time: 2017-01-06 15:11:38
*/
@charset 'UTF-8';

.table-wrapper {
  width: 400px;
  padding: 60px;
}
.table-auto {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.table-auto td{
  border: 1px solid #555;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-auto th {
  border: 1px solid #555;
}
.table-auto .th1 {
  width: 60px;
}
